@page
@model EnvVariablesModel
@{
    ViewData["Title"] = "Environment variables";
}
<h1>@ViewData["Title"]</h1>


<h2>WebFrontend environment variables : </h2>
<div>@Model.FrontEnvironmentVariables</div>

