@page
@model EnvVariablesModel
@{
    ViewData["Title"] = "Environment variables";
}
<h1>@ViewData["Title"]</h1>

<hr/>
<h2>WebFrontend environment variables : </h2>
<div>
@foreach (var vname in System.Environment.GetEnvironmentVariables().Keys)
{
    <b> @vname = </b>
        var evValue = Environment.GetEnvironmentVariable(vname.ToString());
         if (evValue.EndsWith("==") || vname.ToString().ToLower().Contains("key"))
                    evValue = evValue.Substring(0, Math.Min(evValue.Length, 5)) + "**REDACTED**";
    <span>@evValue</span>
    <br />
}
</div>
<hr />
<h2>ApiBackend environment variables : </h2>
<div>
<pre>
@Model.ApiEnvironmentVariables
</pre>
</div>

